ase==3.23.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
i-PI==2.4.0
kiwisolver==1.4.5
matplotlib==3.9.1
networkx==3.3
numpy==1.26.4
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.14.0
six==1.16.0
Soprano==0.8.13
spglib==2.4.0
